/* CSS Document */

nav.footer li a{
color:#333;
font-weight:normal;
line-height:20px;
padding:10px;
font-size:14px;
text-transform:none;
}

nav.footer{
background:none repeat scroll 0 0 #CCCCCC;
height:30px;
margin:0 0 10px;
padding:0 18%;
}
nav.footer li a:hover{
background:none;
border:none;
color:#CD3A0C;
}


